.form__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.auth_form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.form__container > p > a {
  font-weight: 500;
}

.form__container > p > a:hover {
  font-weight: 700;
}

.auth_form > div {
  width: 100%;
}

label {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

input {
  width: 100%;
}

.error-message {
  color: red;
  position: absolute;
  font-size: 0.9em;
  transform: translateX(-290px) translateY(38px);
}

.auth_form > button {
  width: 100%;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 0.4em;
  font-size: 1em;
  height: fit-content;
}

.auth_form > button:hover {
  background-color: black;
  color: white;
}
