.home {
  min-height: 90vh;
  width: 1200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 500px;
  gap: 10px;
}

.grid__item1{
  background-color: black;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.grid__item2 {
  background-color: black;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.grid__item3 {
  background-color: black;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}


@media only screen and (max-width: 1200px) {
  .home__container {
    width: 95%;
  }
}
