.comment-form__container {
  width: 100%;
  height: 200px;
}

.comment__wrapper {
  display: flex;
  width: 100%;
  flex-flow: column;
  gap: 10px;
}

.comment__title {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.comment-header {
  white-space: nowrap;
}

.comment-line {
  border-top: 1px solid #afafaf;
  width: 100%;
}

.comment-form {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.comment-form > div {
  height: 100%;
  width: 100%;
}

.comment-form > button {
  width: fit-content;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 0.4em;
  padding-inline: 1em;
  font-size: 1em;
  height: fit-content;
  margin-left: 5px;
}

.comment-form > button:hover {
  background-color: black;
  color: white;
}

.comment-input {
  height: 100%;
  width: 100%;
  font-family: inherit;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
}

.comment-text {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.comment-text > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-error {
  top: -10px;
  white-space: nowrap;
  position: relative !important;
}

.comment__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 1.2rem;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.comment-date {
  color: rgba(139, 139, 139, 0.836);
}