.nav__container {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: solid 1px rgb(212, 212, 212);
  padding: 10px;
  padding-inline: 2em;
}

.nav__header h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 100;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.nav__buttons {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__link {
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav__link:hover {
  font-weight: 500;
}

.active {
  font-weight: 500;
}

.active::after {
  display: flex;
  content:"";
  height: 1px;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 100%;
}

.nav__link::after {
  display: flex;
  content:"";
  height: 1px;
  background: #000000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav__link:hover::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.settings-button {
  background: url("../../assets/settings.svg") no-repeat center center/cover;
  background-size: contain;
  content: "";
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.settings-dropdown {
  position: absolute;
  background-color: red;
  width: 200px;
  height: 100px;
  top: 65px;
  right: 40px;
  border-radius: 0 0 5px 5px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.settings-dropdown > ul {
  list-style: none;
}

.pill-button {
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  padding: 0.4em;
  padding-inline: 1em;
  font-size: 0.8em;
  height: fit-content;
}

.pill-button:hover {
  background-color: black;
  color: white;
}
