.new-post__container {
  width: 1200px;
}

.tox-tinymce {
  width: 100%;
}

.post__form {
  display: flex;
  flex-flow: column;
}

.new-post__input {
    width: 50%;
}

.public-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.public-label, .checkbox {
  width: fit-content;
}

@media only screen and (max-width: 1200px) {
  .new-post__container {
    width: 90%;
  }
}
