.post {
  width: 850px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 5px;
}

h2,
h3 {
  margin: 0;
}

.image {
  width: 120%;
  align-self: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-block: 10px;
}

.path {
  display: flex;
  gap: 5px;
}

.sub_header {
  display: flex;
  gap: 25px;
}

.title {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.title > p {
  margin: 0;
}

.post-author {
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-author > h3 {
  font-size: 1.1em;
}

.category-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-category {
  border: 1px solid black;
  color: rgb(0, 0, 0);
  width: fit-content;
  padding: 0.1em;
  padding-inline: 0.8em;
  font-size: 0.8em;
  border-radius: 3px;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-title {
  font-weight: 500;
  font-size: 2.5em;
}

.edit-button {
  background: url("../../assets/edit.svg") no-repeat center center/cover;
  background-size: contain;
  content: "";
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.delete-button {
  background: url("../../assets/delete.svg") no-repeat center center/cover;
  background-size: contain;
  content: "";
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.title-buttons {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 950px) {
  .post {
    width: 90%;
  }

  .image {
    height: 50vw;
  }
}
